*{
    margin: 0;
    padding: 0;
    /* color: #2E4053; */
    color: aliceblue;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--primary-color);
    color: white;
    font-family: var(--primary-font);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.navLogo{
    /* width: 10%; */
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--accent-color);
}

.navLogo img {
    contain: cover;
    height: 100px;
    width: 100px;
/* padding: 10px; */
}
.navElement li{
  text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer;
}
.navElement li:hover{
  color: var(--accent-color);
}
.navElement ul{

    display: flex;
    gap: 35px;
   /* display: flex; */
   /* justify-content: space-around; */
   /* flex-basis: 1; */
   list-style-type: none;
   /* margin-top: 49px; */
}
.navElement ul li{
    text-decoration: none;
}
.navElement a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}
.navElement a:hover {
    color: var(--accent-color);
  }
/* 
  .nav .theme-toggle {
    background: var(--accent-color);
    color: var(--primary-color);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-family: var(--primary-font);
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .nav .theme-toggle:hover {
    background: white;
    color: var(--primary-color);
  } */

  @media (max-width: 768px) {
    .nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav .navElement {
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
    }
  }
